.table-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.table {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: rgba(3, 3, 51, 0.952);
  color: white;
  border: 2px solid;
  border-color: black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 95%;


  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
  }
}

.table-button {
  border-radius: 10px;
  max-width: 40px;
  background-color: lightgreen;
  margin: 5px;
}


.seat {
  padding: 5px;
  border: 2px solid;
  border-color: black;
  margin: 2px;
  border-radius: 10px;
  max-width: 33px;
  &:hover {
    background-color:black;
    color: white;
    transition: all 1s ease;
}
}
